.view {
    padding: 10px;
    border: 2px solid black;
  
    margin: 10px;
    border-radius: 3px;

    .header {
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: rgb(16, 95, 98);
      margin-top: 20px; 
      margin-bottom: 10px; 
    }
}
h5 {
    font-size: 25px;
}

.view-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(115, 11, 164);

    .header-block {
      font-style: oblique;
      font-weight: bold;
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }