.book-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin: 10px;
}

.write-record {
    border: 3px solid black;
    border-radius: 5px;
    padding: 7px;
    background-color: white;
    width: 40%;
}

.view-record {
    border: 3px solid black;
    border-radius: 5px;
    padding: 7px;
    background-color: white;
    width: 40%;
}