.withdrawn-record{
    padding: 10px;
    
    h2{
        text-align: left;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 30px;
    }
    .records{
        border: 2px solid black;
        border-radius: 2px;
        padding: 10px;
    }
}
.form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .header-block{
        width: 60px;
    }
}

.record{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    font-weight: bolder;
    .date{
        width: 150px;
    }
    .amount {
        font-size: 15px;
        width: 150px;
    }
    
}

.net-records {
    border: 2px solid black;
    border-radius: 2px;
    font-size: 15px;
    padding: 10px;
}

.balance{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    font-weight: bolder;
}

span{
    width: 150px;
}

.net-balance{
    margin: 20px 0px;
}
.total-balance {
    font-size: 25px;
    width: 100px;
    height: 30px;
}