.book {
    margin: auto;
    width: 70%;
}
.header {
    font-size: 25px;
}

.select-members {
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(2, 2, 2);
    border-radius: 2px;
    font-family: 'Mate SC', serif;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    margin: 10px;
}

.member {
    width:90%;
    
}