.gain-list-items{
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(44, 27, 235);
    height: fit-content;
}
.date{
    font-size: 10px;
}
.remove{
    width: 30px;
}