.gain-list-items{
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(110, 67, 12);
    height: fit-content;
    font-size: 15px;
}
.date{
    font-size: 15px;
}
.remove{
    width: 30px;
}