.member-manager {
    border: 5px solid black;
    width: 50%;
    border-radius: 5px;
}
.open-book {
    border: 5px solid black;
    width: 50%;
    border-radius: 5px;
}

.record-book {
    display: flex;
    flex-direction: row;
}