body {
    font-family: 'Farro', sans-serif;
    padding: 20px 60px;
    background: url('./assets/saloon-background.jpg');
}
a {
    color: black;
    text-decoration: none;
}
* {
    box-sizing: border-box;
}